<div class="login-container bg-light">
  <div class="login-box">
    <h1>Azure-AD-Sample-Application</h1>
    <div>
      <h6 class="d-inline-block">v{{ version }}</h6>
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>
          <button
            class="btn btn-primary w-100"
            (click)="authenticationService.loginWithAd()"
            style="margin-top: 0.5rem"
          >
            <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
            <img
              src="https://docs.microsoft.com/en-us/azure/active-directory/develop/media/howto-add-branding-in-azure-ad-apps/ms-symbollockup_mssymbol_19.png"
            />
            <span>Sign in with Microsoft</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
